.header {
    background-color: #055647;
    height: 82px;
    width: auto;
    display: flex;
}

.img {
    height: 48px;
    width: 49px;
    position: absolute;
    /* top: 17px;
    left: 38px; */
}