.header {
    background-color: #055647;
    height: 82px;
    /* width: 100vw; */
    width: 58rem;
    display: flex;
    align-items: center;   
    position: absolute;
    top: 0;
    left: 50;
}

.img {
    height: 48px;
    width: 49px;
    margin: 0 2rem;
}