.article {
    background-color: #fff;
    color: #000;
    max-width: 300px;
    max-height: 400px;
    box-shadow: 3px 4px 4px 0px #00000040;
    border-radius: 4px;
    margin-bottom: 2.5rem;
}

.img {
    max-width: 300px;
    max-height: auto;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.nameDateContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}